.header_section{
    background-color: aliceblue;
    border-color: darkgray;
    border-width: 2px;
    border-style: solid;
}

.search{

}

.avt{

}

.story_section{

}

.story{

}

.str_img{

}

.feed{

}

.post{

}

.logo{

}

.post_img{

}